link(rel="stylesheet" type="text/css" href="/stylesheets/styles.css")
link(rel="stylesheet" type="text/css" href="/stylesheets/socialbuttons.css")
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css')


footer.fixed-bottom

   .social-buttons.float-left
      p &nbsp; FØLG OS
      a(href='https://www.facebook.com/artemisgalleriogvaerksted' target="_blank")
         i.fab.fa-facebook
      a(href='#' target="_blank")
         i.fab.fa-instagram
      a(href='#' target="_blank")
         i.fab.fa-twitter

   p.text-center
    | &copy; 2020 Artemis | Danmarksgade 25 | 6700 Esbjerg